/* main {
    background: url('/static/img/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

#add-to-metamask:hover {
    cursor: pointer;
}
