<% layout('../layout') -%>

<main class="h-full pb-16 overflow-y-auto">
    <div class="container px-6 mx-auto grid">
      <h2
        class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
      >
        Get Test Tokens
      </h2>

      <h4
        class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
      >
        This faucet transfers TestToken on Shimmer EVM Testnet. Confirm details before submitting.
      </h4>
      <div
        class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
      >
        <label class="block text-sm">
          <span class="text-gray-700 dark:text-gray-400">Wallet Address</span>
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="0xabc123...." id="address" value="0x48e28C1681BBb92a2E5874113bc740cC11A0FD7a"
          />
        </label>

        <label class="block mt-4 text-sm">
          <span class="text-gray-700 dark:text-gray-400">
            Select Token
          </span>
          <select
            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray" id="token"
          >
            <% for (let i = 0; i < tokens.length; i++ ) { %>
                <option><%= tokens[i] %></option>
            <% } %>
          </select>
        </label>

        <div class="text-center py-4 lg:px-4" id="faucet-msg"></div>

        <div class="flex items-center my-8 mx-auto">
            <button
              class="px-5 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" type="button" id="btn-faucet"
            >
              Submit
            </button>

            <button
              class="px-5 py-3 mx-10 font-medium text-white ring ring-blue-300 hover:ring-blue-500" type="button" id="btn-token"
            >
              Add Token to Metamask
            </button>
        </div>
      </div>
    </div>

    <div class="container px-6 mx-auto grid bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">Disclaimer:</strong>
      <span class="block sm:inline">The tokens that are dropped by the faucet are not actual wrapped tokens but instead they are simulated wrapped tokens that just exist on our network. This means that these tokens do not have any real-world value and are only meant for testing or educational purposes, and they don't exist on the selected Testnet.</span>
    </div>
</main>
